body {
    height: 100%;
    background: url("loginCat.jpg");
    background-size: cover;
    margin-top: 5%;
}

.colortext {
    background-color: #FFF0F5;
    color: #2F4F4F;
}

.colortext1 {
    background-color: #FFF0F5;
    color: red;
}

.newopacity {
    background: lightskyblue;
    width: 20%;
    padding: 5px;
    opacity: 0.9;
    filter: alpha(Opacity=70);
}
